.canvas-container {
    padding: 4px;
    width: 490px;
    height: 330px;
}

.drop-target {
    padding: 30px;
    text-align: center;
    height: 150px;
}

.drop-target-icon {
    font-size: xx-large;
}

.drop-target-title {
    font-size: large;
}

.form-group {
    margin-bottom: 4px;
}

.form-control-static {
    padding-bottom: 0px;
}

.form-horizontal {
    border: 1px dashed gray;
    border-radius: 4px;
    padding: 15px;
}

#stats {
    position: absolute;
}

.slider.slider-horizontal {
    width: 100%;
}