.canvas-container {
    padding: 4px;
    width: 100%;
    height: 410px;
}

.drop-target {
    padding: 30px;
    text-align: center;
    height: auto;
}

.drop-target-icon {
    font-size: xx-large;
}

.drop-target-title {
    font-size: large;
}

.form-group {
    margin-bottom: 10px;
}

.form-control-static {
    padding-bottom: 0px;
}

.progress  {
    height: 34px;
    margin: 0;
}